In [80]:
import pandas as pd
import datetime as dt
import seaborn as sns
import matplotlib.pyplot as plt
plt.figure(figsize(10,8))
pd.set_option('display.max_columns',500)
pd.set_option('display.max_rows',500)

NameError: name 'figsize' is not defined

In [2]:
df_customers = pd.read_csv('customers.csv')
df_articles = pd.read_csv('articles.csv')
df_transactions = pd.read_csv('transactions_train.csv')

In [73]:
df_transactions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31788324 entries, 0 to 31788323
Data columns (total 5 columns):
 #   Column            Dtype
---  ------            -----
 0   t_dat             datetime64[ns]
 1   customer_id       object
 2   article_id        int64
 3   price             float64
 4   sales_channel_id  int64
dtypes: datetime64[ns](1), float64(1), int64(2), object(1)
memory usage: 1.2+ GB

In [3]:
df_customers.head(5)

,customer_id,FN,Active,club_member_status,fashion_news_frequency,age,postal_code
0,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,NaN,NaN,ACTIVE,NONE,49.0,52043ee2162cf5aa7ee79974281641c6f11a68d276429a...
1,0000423b00ade91418cceaf3b26c6af3dd342b51fd051e...,NaN,NaN,ACTIVE,NONE,25.0,2973abc54daa8a5f8ccfe9362140c63247c5eee03f1d93...
2,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,NaN,NaN,ACTIVE,NONE,24.0,64f17e6a330a85798e4998f62d0930d14db8db1c054af6...
3,00005ca1c9ed5f5146b52ac8639a40ca9d57aeff4d1bd2...,NaN,NaN,ACTIVE,NONE,54.0,5d36574f52495e81f019b680c843c443bd343d5ca5b1c2...
4,00006413d8573cd20ed7128e53b7b13819fe5cfc2d801f...,1.0,1.0,ACTIVE,Regularly,52.0,25fa5ddee9aac01b35208d01736e57942317d756b32ddd...

In [4]:
df_transactions.head(5)

,t_dat,customer_id,article_id,price,sales_channel_id
0,2018-09-20,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,663713001,0.050831,2
1,2018-09-20,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,541518023,0.030492,2
2,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,505221004,0.015237,2
3,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,685687003,0.016932,2
4,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,685687004,0.016932,2

In [5]:
df_articles.head(5) 
#

,article_id,product_code,prod_name,product_type_no,product_type_name,product_group_name,graphical_appearance_no,graphical_appearance_name,colour_group_code,colour_group_name,perceived_colour_value_id,perceived_colour_value_name,perceived_colour_master_id,perceived_colour_master_name,department_no,department_name,index_code,index_name,index_group_no,index_group_name,section_no,section_name,garment_group_no,garment_group_name,detail_desc
0,108775015,108775,Strap top,253,Vest top,Garment Upper body,1010016,Solid,9,Black,4,Dark,5,Black,1676,Jersey Basic,A,Ladieswear,1,Ladieswear,16,Womens Everyday Basics,1002,Jersey Basic,Jersey top with narrow shoulder straps.
1,108775044,108775,Strap top,253,Vest top,Garment Upper body,1010016,Solid,10,White,3,Light,9,White,1676,Jersey Basic,A,Ladieswear,1,Ladieswear,16,Womens Everyday Basics,1002,Jersey Basic,Jersey top with narrow shoulder straps.
2,108775051,108775,Strap top (1),253,Vest top,Garment Upper body,1010017,Stripe,11,Off White,1,Dusty Light,9,White,1676,Jersey Basic,A,Ladieswear,1,Ladieswear,16,Womens Everyday Basics,1002,Jersey Basic,Jersey top with narrow shoulder straps.
3,110065001,110065,OP T-shirt (Idro),306,Bra,Underwear,1010016,Solid,9,Black,4,Dark,5,Black,1339,Clean Lingerie,B,Lingeries/Tights,1,Ladieswear,61,Womens Lingerie,1017,"Under-, Nightwear","Microfibre T-shirt bra with underwired, moulde..."
4,110065002,110065,OP T-shirt (Idro),306,Bra,Underwear,1010016,Solid,10,White,3,Light,9,White,1339,Clean Lingerie,B,Lingeries/Tights,1,Ladieswear,61,Womens Lingerie,1017,"Under-, Nightwear","Microfibre T-shirt bra with underwired, moulde..."

In [ ]:
df_articles.describe()

In [6]:
df_articles.columns

Index(['article_id', 'product_code', 'prod_name', 'product_type_no',
       'product_type_name', 'product_group_name', 'graphical_appearance_no',
       'graphical_appearance_name', 'colour_group_code', 'colour_group_name',
       'perceived_colour_value_id', 'perceived_colour_value_name',
       'perceived_colour_master_id', 'perceived_colour_master_name',
       'department_no', 'department_name', 'index_code', 'index_name',
       'index_group_no', 'index_group_name', 'section_no', 'section_name',
       'garment_group_no', 'garment_group_name', 'detail_desc'],
      dtype='object')

In [ ]:
# what are the most sold items. 
#covid time or not? how does it affect the results? 
# 106 000 products. 
# tuotteet joita myyty 2018 ei ehkä myydä enää? -> recommendations on category level... 
# bimodaalinen ikäjakauma - nuoret + keski-ikäiset 
# hypoteesi - ostaako keski-ikäiset lastenvaatteita?
# purchase frequency, recency

In [ ]:
# Segmentation
# tuotekategoriat - onko ostanut vai ei

#asiakkaan ostohistoria - ostettujen tuotteiden lkm, avg hinta per transactio, avg. purchase frequency, fashion news frequency, 
#avg revenue, 
#calculate shapley values... 
# time between each purchase (days?)
# time between categories purchased (days?)
# share of categories (% of baby products compared to total)
# count of items and transactions per customer...

In [15]:
df_articles.index_group_name.unique()

array(['Ladieswear', 'Baby/Children', 'Menswear', 'Sport', 'Divided'],
      dtype=object)

In [77]:
# combine transactions and articles

df_transactions_small = df_transactions_small.merge(df_articles, left_on = "article_id", right_on = "article_id")
df_transactions_small.head()

,t_dat,customer_id,article_id,price,sales_channel_id,purchase_month,CohortDay,CohortIndex,product_code,prod_name,product_type_no,product_type_name,product_group_name,graphical_appearance_no,graphical_appearance_name,colour_group_code,colour_group_name,perceived_colour_value_id,perceived_colour_value_name,perceived_colour_master_id,perceived_colour_master_name,department_no,department_name,index_code,index_name,index_group_no,index_group_name,section_no,section_name,garment_group_no,garment_group_name,detail_desc
0,2018-09-20,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,663713001,0.050831,2,2018-09-01,2018-09-20,1,663713,Atlanta Push Body Harlow,283,Underwear body,Underwear,1010016,Solid,9,Black,4,Dark,5,Black,1338,Expressive Lingerie,B,Lingeries/Tights,1,Ladieswear,61,Womens Lingerie,1017,"Under-, Nightwear","Lace push-up body with underwired, moulded, pa..."
1,2018-09-20,3681748607f3287d2c3a65e00bb5fb153de30e9becf158...,663713001,0.049475,2,2018-09-01,2018-09-20,1,663713,Atlanta Push Body Harlow,283,Underwear body,Underwear,1010016,Solid,9,Black,4,Dark,5,Black,1338,Expressive Lingerie,B,Lingeries/Tights,1,Ladieswear,61,Womens Lingerie,1017,"Under-, Nightwear","Lace push-up body with underwired, moulded, pa..."
2,2018-09-20,4ef5967ff17bf474bffebe5b16bd54878e1d4105f7b4ed...,663713001,0.050831,2,2018-09-01,2018-09-20,1,663713,Atlanta Push Body Harlow,283,Underwear body,Underwear,1010016,Solid,9,Black,4,Dark,5,Black,1338,Expressive Lingerie,B,Lingeries/Tights,1,Ladieswear,61,Womens Lingerie,1017,"Under-, Nightwear","Lace push-up body with underwired, moulded, pa..."
3,2018-09-20,6b7b10d2d47516c82a6f97332478dab748070f09693f09...,663713001,0.050831,1,2018-09-01,2018-09-20,1,663713,Atlanta Push Body Harlow,283,Underwear body,Underwear,1010016,Solid,9,Black,4,Dark,5,Black,1338,Expressive Lingerie,B,Lingeries/Tights,1,Ladieswear,61,Womens Lingerie,1017,"Under-, Nightwear","Lace push-up body with underwired, moulded, pa..."
4,2018-09-20,8ac137752bbe914aa4ae6ad007a9a0c5b67a1ab2b2d474...,663713001,0.050831,2,2018-09-01,2018-09-20,1,663713,Atlanta Push Body Harlow,283,Underwear body,Underwear,1010016,Solid,9,Black,4,Dark,5,Black,1338,Expressive Lingerie,B,Lingeries/Tights,1,Ladieswear,61,Womens Lingerie,1017,"Under-, Nightwear","Lace push-up body with underwired, moulded, pa..."

In [78]:
df_transactions_small["counts"] = df_transactions_small["index_group_name"].value_counts()
df_transactions_small["counts%"] = df_transactions_small["index_group_name"].value_counts(normalize=True)

In [79]:
df_transactions_small.head()

,t_dat,customer_id,article_id,price,sales_channel_id,purchase_month,CohortDay,CohortIndex,product_code,prod_name,product_type_no,product_type_name,product_group_name,graphical_appearance_no,graphical_appearance_name,colour_group_code,colour_group_name,perceived_colour_value_id,perceived_colour_value_name,perceived_colour_master_id,perceived_colour_master_name,department_no,department_name,index_code,index_name,index_group_no,index_group_name,section_no,section_name,garment_group_no,garment_group_name,detail_desc,counts,counts%
0,2018-09-20,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,663713001,0.050831,2,2018-09-01,2018-09-20,1,663713,Atlanta Push Body Harlow,283,Underwear body,Underwear,1010016,Solid,9,Black,4,Dark,5,Black,1338,Expressive Lingerie,B,Lingeries/Tights,1,Ladieswear,61,Womens Lingerie,1017,"Under-, Nightwear","Lace push-up body with underwired, moulded, pa...",NaN,NaN
1,2018-09-20,3681748607f3287d2c3a65e00bb5fb153de30e9becf158...,663713001,0.049475,2,2018-09-01,2018-09-20,1,663713,Atlanta Push Body Harlow,283,Underwear body,Underwear,1010016,Solid,9,Black,4,Dark,5,Black,1338,Expressive Lingerie,B,Lingeries/Tights,1,Ladieswear,61,Womens Lingerie,1017,"Under-, Nightwear","Lace push-up body with underwired, moulded, pa...",NaN,NaN
2,2018-09-20,4ef5967ff17bf474bffebe5b16bd54878e1d4105f7b4ed...,663713001,0.050831,2,2018-09-01,2018-09-20,1,663713,Atlanta Push Body Harlow,283,Underwear body,Underwear,1010016,Solid,9,Black,4,Dark,5,Black,1338,Expressive Lingerie,B,Lingeries/Tights,1,Ladieswear,61,Womens Lingerie,1017,"Under-, Nightwear","Lace push-up body with underwired, moulded, pa...",NaN,NaN
3,2018-09-20,6b7b10d2d47516c82a6f97332478dab748070f09693f09...,663713001,0.050831,1,2018-09-01,2018-09-20,1,663713,Atlanta Push Body Harlow,283,Underwear body,Underwear,1010016,Solid,9,Black,4,Dark,5,Black,1338,Expressive Lingerie,B,Lingeries/Tights,1,Ladieswear,61,Womens Lingerie,1017,"Under-, Nightwear","Lace push-up body with underwired, moulded, pa...",NaN,NaN
4,2018-09-20,8ac137752bbe914aa4ae6ad007a9a0c5b67a1ab2b2d474...,663713001,0.050831,2,2018-09-01,2018-09-20,1,663713,Atlanta Push Body Harlow,283,Underwear body,Underwear,1010016,Solid,9,Black,4,Dark,5,Black,1338,Expressive Lingerie,B,Lingeries/Tights,1,Ladieswear,61,Womens Lingerie,1017,"Under-, Nightwear","Lace push-up body with underwired, moulded, pa...",NaN,NaN

In [9]:
#df_articles.groupby(['index_group_name', 'product_group_name', 'product_type_name']).count()

In [ ]:
#df_transactions.groupby('customer_id').sum()

In [ ]:
type(df_transactions.iloc[0, 0]) # t_dat is string -> transform to datetype

In [11]:
df_transactions.t_dat = pd.to_datetime(df_transactions.t_dat)

In [ ]:
type(df_transactions.iloc[0, 0])

In [28]:
# take small sample for testing - one month data.
df_transactions_small = df_transactions[df_transactions['t_dat'] <= dt.datetime(2018,9,30) ]
df_transactions_small.customer_id.count() # 594776 customers

594776

In [61]:
# create daily cohorts 
def get_date_int(df, column):
    year = df[column].dt.year
    month = df[column].dt.month
    day = df[column].dt.day
    return year, month, day

In [66]:
# Group by CustomerID and select the InvoiceDay value
grouping = df_transactions_small.groupby('customer_id')['t_dat'] 

# Assign a minimum InvoiceDay value to the dataset
df_transactions_small['CohortDay'] = grouping.transform('min')

# View the top 5 rows
print(df_transactions_small.head(5))

       t_dat                                        customer_id  article_id  \
0 2018-09-20  000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...   663713001
1 2018-09-20  000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...   541518023
2 2018-09-20  00007d2de826758b65a93dd24ce629ed66842531df6699...   505221004
3 2018-09-20  00007d2de826758b65a93dd24ce629ed66842531df6699...   685687003
4 2018-09-20  00007d2de826758b65a93dd24ce629ed66842531df6699...   685687004

      price  sales_channel_id purchase_month  CohortDay
0  0.050831                 2     2018-09-01 2018-09-20
1  0.030492                 2     2018-09-01 2018-09-20
2  0.015237                 2     2018-09-01 2018-09-20
3  0.016932                 2     2018-09-01 2018-09-20
4  0.016932                 2     2018-09-01 2018-09-20

<ipython-input-66-a71905186ae7>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_transactions_small['CohortDay'] = grouping.transform('min')

In [62]:
tran_year, tran_month, tran_day = get_date_int(df_transactions_small, 't_dat')

In [67]:
cohort_year, cohort_month, cohort_day = get_date_int(df_transactions_small, 'CohortDay')

In [70]:
years_diff = tran_year - cohort_year

# Calculate difference in months
months_diff = tran_month - cohort_month

# Calculate difference in days
days_diff = tran_day - cohort_day

# Extract the difference in days from all previous values
df_transactions_small['CohortIndex'] = years_diff * 365 + months_diff * 30 + days_diff + 1
print(df_transactions_small.head())

       t_dat                                        customer_id  article_id  \
0 2018-09-20  000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...   663713001
1 2018-09-20  000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...   541518023
2 2018-09-20  00007d2de826758b65a93dd24ce629ed66842531df6699...   505221004
3 2018-09-20  00007d2de826758b65a93dd24ce629ed66842531df6699...   685687003
4 2018-09-20  00007d2de826758b65a93dd24ce629ed66842531df6699...   685687004

      price  sales_channel_id purchase_month  CohortDay  CohortIndex
0  0.050831                 2     2018-09-01 2018-09-20            1
1  0.030492                 2     2018-09-01 2018-09-20            1
2  0.015237                 2     2018-09-01 2018-09-20            1
3  0.016932                 2     2018-09-01 2018-09-20            1
4  0.016932                 2     2018-09-01 2018-09-20            1

<ipython-input-70-e9cdc17312f2>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_transactions_small['CohortIndex'] = years_diff * 365 + months_diff * 30 + days_diff + 1

In [71]:
max(df_transactions_small.CohortIndex)

11

In [72]:
df_transactions_small[df_transactions_small.CohortIndex > 10]

,t_dat,customer_id,article_id,price,sales_channel_id,purchase_month,CohortDay,CohortIndex
556876,2018-09-30,01271359dce99de537d6a3fca3c4dfd3732b455ec5085d...,694153002,0.033881,1,2018-09-01,2018-09-20,11
556877,2018-09-30,01271359dce99de537d6a3fca3c4dfd3732b455ec5085d...,581971001,0.059305,1,2018-09-01,2018-09-20,11
556878,2018-09-30,01271359dce99de537d6a3fca3c4dfd3732b455ec5085d...,599502002,0.050831,1,2018-09-01,2018-09-20,11
556879,2018-09-30,01271359dce99de537d6a3fca3c4dfd3732b455ec5085d...,620625003,0.042356,1,2018-09-01,2018-09-20,11
556981,2018-09-30,01b2ea4635479ad47c3a5eea6659e28f4f5ea16bbb6180...,456163026,0.033881,1,2018-09-01,2018-09-20,11
...,...,...,...,...,...,...,...,...
594642,2018-09-30,ff0cb0d8a18b7efad17e56646d38be47a5fb402b141c79...,637515005,0.033881,2,2018-09-01,2018-09-20,11
594669,2018-09-30,ff61cdb0f74a55542d5667c3b6c032d1ee20e54154277c...,448509017,0.040237,2,2018-09-01,2018-09-20,11
594670,2018-09-30,ff61cdb0f74a55542d5667c3b6c032d1ee20e54154277c...,573716039,0.025407,2,2018-09-01,2018-09-20,11
594748,2018-09-30,ffc093dafc6a28d29f715d551bab4c29c17a42602b5955...,662948004,0.036000,1,2018-09-01,2018-09-20,11
594760,2018-09-30,ffd9c3bfd13121dee9aef1f5e2891a6c887c44a52fa6d7...,574109014,0.019051,2,2018-09-01,2018-09-20,11

In [29]:
grouping = df_transactions_small.groupby('customer_id')['article_id']

In [30]:
grouping.transform('count').sort_values() 
# miten saadaan kuvaaja jossa x akselilla 1- 169 ja y-akselilla count customer_id? s

548815      1
477645      1
409133      1
284781      1
284775      1
         ...
480636    169
480635    169
480634    169
480642    169
480628    169
Name: article_id, Length: 594776, dtype: int64

In [49]:
grouping = df_transactions_small.groupby(['customer_id','article_id'])
test = grouping['customer_id'].count()

In [50]:
test

customer_id                                                       article_id
0000423b00ade91418cceaf3b26c6af3dd342b51fd051eec9c12fb36984420fa  521269001     1
                                                                  583558001     2
                                                                  639677008     1
                                                                  640244003     1
                                                                  666448006     2
                                                                               ..
fffec3dbcc87c78300f37f62cfca4274f1ea6ef59dba10f9b86ac2e5f09d2c03  559645001     1
                                                                  657097001     1
fffed13f041cc91f74dc6ec4e3267d7bb71bc833d53b7d7e970b7cd8c9bb7157  661435002     1
ffffcd5046a6143d29a04fb8c424ce494a76e5cdf4fab53481233731b5c4f8b7  671695001     1
ffffcf35913a0bee60e8741cb2b4e78b8a98ee5ff2e6a1778d0116cffd259264  568597019     1
Name: customer_id, Length: 532642, dtype: int64

In [54]:
grouping['customer_id'].nunique()

customer_id                                                       article_id
0000423b00ade91418cceaf3b26c6af3dd342b51fd051eec9c12fb36984420fa  521269001     1
                                                                  583558001     1
                                                                  639677008     1
                                                                  640244003     1
                                                                  666448006     1
                                                                               ..
fffec3dbcc87c78300f37f62cfca4274f1ea6ef59dba10f9b86ac2e5f09d2c03  559645001     1
                                                                  657097001     1
fffed13f041cc91f74dc6ec4e3267d7bb71bc833d53b7d7e970b7cd8c9bb7157  661435002     1
ffffcd5046a6143d29a04fb8c424ce494a76e5cdf4fab53481233731b5c4f8b7  671695001     1
ffffcf35913a0bee60e8741cb2b4e78b8a98ee5ff2e6a1778d0116cffd259264  568597019     1
Name: customer_id, Length: 532642, dtype: int64

In [35]:
# add cohort month and purchase month
def get_month(x): return dt.datetime(x.year, x.month, 1)
df_transactions_small['purchase_month'] = df_transactions_small.t_dat.apply(get_month)

<ipython-input-35-dd4facfdb4d4>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_transactions_small['purchase_month'] = df_transactions_small.t_dat.apply(get_month)

In [41]:
#creates a groupby object.
df_transactions_small.groupby('customer_id').sum().sort_values('price') #order by sum of price.... count_article_id,

,article_id,price,sales_channel_id
customer_id,,,
62ef55eb42faaa9db28d2ff97baaa49a80ed305c1f9773be22b4b2fe42af660c,541758001,0.000847,1
0bf204f20cef2387be9ea033d27179fbcada5f3615aa40c1344186660b8b273e,235596002,0.000847,1
8c5ca5c175a5634e10b644cb7888ab2298e245e586d1d9880883c16333049feb,297078001,0.001339,1
24df9fa5638f01b7b9f1878c60bfeb73cf9ee6d1ca7aef16335079916c2c97db,315795001,0.001339,1
3e97df0d198c2ea6fa02cbfe2254c6ac61a64b0d53dde4e91a6cc20df6e1cb5f,251510001,0.001339,1
...,...,...,...
310b20a2fd091a9d342836e2c05d93956085696d0c17367fbcf4056a9791f0aa,13001319036,2.748949,40
819feae1fc351ee38471247fe24b73e0a0519732b9bd0981893a854523de6635,14187098062,2.936322,44
a81e0b7657a090198d8138c95fae7db1218305b97bb8fd3f42b8d8e1b6d5b846,61848000100,3.388136,200
75c54a755b8a467e53e0a4e01833deb029734feb22ad25438137925123a38f8b,99802071215,3.428203,169
a728b385ebbb4b2da7b5f5d4d945e411117462ac413c449942634e7cb2bf90ba,26798245097,3.621424,82

In [40]:
# get a year, month, day integer out of datetime. -> can be used for calculations eg. cohortindex. years_diff *12 + monthdiff +1. 
# +1 for easier interpretation. first month will be 1 instead of 0. 
year = df_transactions_small['t_dat'].dt.day
year

0         20
1         20
2         20
3         20
4         20
          ..
594771    30
594772    30
594773    30
594774    30
594775    30
Name: t_dat, Length: 594776, dtype: int64

In [37]:
year

0         2018
1         2018
2         2018
3         2018
4         2018
          ...
594771    2018
594772    2018
594773    2018
594774    2018
594775    2018
Name: t_dat, Length: 594776, dtype: int64

In [ ]:
df_transactions_small.groupby('customer_id').count().sort_values('article_id').tail(20) #order by count_article_id,

In [ ]:
# Group by type and is_holiday; calc total weekly sales
#sales_by_type_is_holiday = sales.groupby(["type", "is_holiday"])["weekly_sales"].sum()
# print(sales_by_type_is_holiday)"

## Count the number of unique values per customer ID
#cohort_data = grouping["CustomerID"].apply(pd.Series.nunique).reset_index()

## Create a pivot 
# cohort_counts = cohort_data.pivot_table(index="CohortMonth", columns="CohortIndex", values="CustomerID")

In [ ]:
# Visualize the cohort
# Import seaborn package as sns
#import seaborn as sns

## Initialize an 8 by 6 inches plot figure
#plt.figure(figsize=(8, 6))

## Add a title
#plt.title('Average Spend by Monthly Cohorts')

## Create the heatmap
#sns.heatmap(average_quantity, annot=True, cmap='Blues')
#plt.show()