In [2]:
import pandas as pd
import datetime as dt
import seaborn as sns
import matplotlib.pyplot as plt
# plt.figure(figsize(10,8))  'figsize' not defined 
pd.set_option('display.max_columns',500)
pd.set_option('display.max_rows',500)

In [3]:
df_customers = pd.read_csv('customers.csv')
df_articles = pd.read_csv('articles.csv')
df_transactions = pd.read_csv('transactions_train.csv')

In [6]:
df_customers.head(5)

,customer_id,FN,Active,club_member_status,fashion_news_frequency,age,postal_code
0,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,NaN,NaN,ACTIVE,NONE,49.0,52043ee2162cf5aa7ee79974281641c6f11a68d276429a...
1,0000423b00ade91418cceaf3b26c6af3dd342b51fd051e...,NaN,NaN,ACTIVE,NONE,25.0,2973abc54daa8a5f8ccfe9362140c63247c5eee03f1d93...
2,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,NaN,NaN,ACTIVE,NONE,24.0,64f17e6a330a85798e4998f62d0930d14db8db1c054af6...
3,00005ca1c9ed5f5146b52ac8639a40ca9d57aeff4d1bd2...,NaN,NaN,ACTIVE,NONE,54.0,5d36574f52495e81f019b680c843c443bd343d5ca5b1c2...
4,00006413d8573cd20ed7128e53b7b13819fe5cfc2d801f...,1.0,1.0,ACTIVE,Regularly,52.0,25fa5ddee9aac01b35208d01736e57942317d756b32ddd...

In [7]:
df_transactions.head(5)

,t_dat,customer_id,article_id,price,sales_channel_id
0,2018-09-20,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,663713001,0.050831,2
1,2018-09-20,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,541518023,0.030492,2
2,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,505221004,0.015237,2
3,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,685687003,0.016932,2
4,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,685687004,0.016932,2

In [8]:
df_articles.head(5)

,article_id,product_code,prod_name,product_type_no,product_type_name,product_group_name,graphical_appearance_no,graphical_appearance_name,colour_group_code,colour_group_name,perceived_colour_value_id,perceived_colour_value_name,perceived_colour_master_id,perceived_colour_master_name,department_no,department_name,index_code,index_name,index_group_no,index_group_name,section_no,section_name,garment_group_no,garment_group_name,detail_desc
0,108775015,108775,Strap top,253,Vest top,Garment Upper body,1010016,Solid,9,Black,4,Dark,5,Black,1676,Jersey Basic,A,Ladieswear,1,Ladieswear,16,Womens Everyday Basics,1002,Jersey Basic,Jersey top with narrow shoulder straps.
1,108775044,108775,Strap top,253,Vest top,Garment Upper body,1010016,Solid,10,White,3,Light,9,White,1676,Jersey Basic,A,Ladieswear,1,Ladieswear,16,Womens Everyday Basics,1002,Jersey Basic,Jersey top with narrow shoulder straps.
2,108775051,108775,Strap top (1),253,Vest top,Garment Upper body,1010017,Stripe,11,Off White,1,Dusty Light,9,White,1676,Jersey Basic,A,Ladieswear,1,Ladieswear,16,Womens Everyday Basics,1002,Jersey Basic,Jersey top with narrow shoulder straps.
3,110065001,110065,OP T-shirt (Idro),306,Bra,Underwear,1010016,Solid,9,Black,4,Dark,5,Black,1339,Clean Lingerie,B,Lingeries/Tights,1,Ladieswear,61,Womens Lingerie,1017,"Under-, Nightwear","Microfibre T-shirt bra with underwired, moulde..."
4,110065002,110065,OP T-shirt (Idro),306,Bra,Underwear,1010016,Solid,10,White,3,Light,9,White,1339,Clean Lingerie,B,Lingeries/Tights,1,Ladieswear,61,Womens Lingerie,1017,"Under-, Nightwear","Microfibre T-shirt bra with underwired, moulde..."

In [9]:
df_articles.columns
# get unique category values
# df_articles.index_group_name.unique()

Index(['article_id', 'product_code', 'prod_name', 'product_type_no',
       'product_type_name', 'product_group_name', 'graphical_appearance_no',
       'graphical_appearance_name', 'colour_group_code', 'colour_group_name',
       'perceived_colour_value_id', 'perceived_colour_value_name',
       'perceived_colour_master_id', 'perceived_colour_master_name',
       'department_no', 'department_name', 'index_code', 'index_name',
       'index_group_no', 'index_group_name', 'section_no', 'section_name',
       'garment_group_no', 'garment_group_name', 'detail_desc'],
      dtype='object')

In [10]:
type(df_transactions.iloc[0, 0]) # t_dat is string -> transform to datetype
df_transactions.t_dat = pd.to_datetime(df_transactions.t_dat)

In [11]:
# take small sample for testing - one month data.
df_transactions_small = df_transactions[df_transactions['t_dat'] <= dt.datetime(2018,9,30) ]
df_transactions_small.customer_id.count() # 594 776 transactions

594776

In [12]:
df_transactions_small.customer_id.nunique() # 140 340 customers

140340

In [13]:
#create CohortDay column
# Group by CustomerID and select the InvoiceDay value
grouping = df_transactions_small.groupby('customer_id')['t_dat'] 

# Assign a minimum InvoiceDay value to the dataset
df_transactions_small['CohortDay'] = grouping.transform('min')

# View the top 5 rows
print(df_transactions_small.head(5))

       t_dat                                        customer_id  article_id  \
0 2018-09-20  000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...   663713001
1 2018-09-20  000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...   541518023
2 2018-09-20  00007d2de826758b65a93dd24ce629ed66842531df6699...   505221004
3 2018-09-20  00007d2de826758b65a93dd24ce629ed66842531df6699...   685687003
4 2018-09-20  00007d2de826758b65a93dd24ce629ed66842531df6699...   685687004

      price  sales_channel_id  CohortDay
0  0.050831                 2 2018-09-20
1  0.030492                 2 2018-09-20
2  0.015237                 2 2018-09-20
3  0.016932                 2 2018-09-20
4  0.016932                 2 2018-09-20

<ipython-input-13-a71905186ae7>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_transactions_small['CohortDay'] = grouping.transform('min')

In [ ]:
cohort_year, cohort_month, cohort_day = get_date_int(df_transactions_small, 'CohortDay')

In [ ]:
years_diff = tran_year - cohort_year

# Calculate difference in months
months_diff = tran_month - cohort_month

# Calculate difference in days
days_diff = tran_day - cohort_day

# Extract the difference in days from all previous values
df_transactions_small['CohortIndex'] = years_diff * 365 + months_diff * 30 + days_diff + 1
print(df_transactions_small.head())

In [ ]:
max(df_transactions_small.CohortIndex)

In [ ]:
df_transactions_small[df_transactions_small.CohortIndex > 10]

In [ ]:
grouping = df_transactions_small.groupby('customer_id')['article_id']

In [ ]:
grouping.transform('count').sort_values() 
# miten saadaan kuvaaja jossa x akselilla 1- 169 ja y-akselilla count customer_id? s

In [ ]:
grouping = df_transactions_small.groupby(['customer_id','article_id'])
test = grouping['customer_id'].count()

In [ ]:
test

In [ ]:
grouping['customer_id'].nunique()

In [ ]:
# add cohort month and purchase month
def get_month(x): return dt.datetime(x.year, x.month, 1)
df_transactions_small['purchase_month'] = df_transactions_small.t_dat.apply(get_month)

In [ ]:
#creates a groupby object.
df_transactions_small.groupby('customer_id').sum().sort_values('price') #order by sum of price.... count_article_id,

In [ ]:
# get a year, month, day integer out of datetime. -> can be used for calculations eg. cohortindex. years_diff *12 + monthdiff +1. 
# +1 for easier interpretation. first month will be 1 instead of 0. 
year = df_transactions_small['t_dat'].dt.day
year

In [ ]:
year

In [ ]:
df_transactions_small.groupby('customer_id').count().sort_values('article_id').tail(20) #order by count_article_id,

In [ ]:
# Group by type and is_holiday; calc total weekly sales
#sales_by_type_is_holiday = sales.groupby(["type", "is_holiday"])["weekly_sales"].sum()
# print(sales_by_type_is_holiday)"

## Count the number of unique values per customer ID
#cohort_data = grouping["CustomerID"].apply(pd.Series.nunique).reset_index()

## Create a pivot 
# cohort_counts = cohort_data.pivot_table(index="CohortMonth", columns="CohortIndex", values="CustomerID")

In [ ]:
# Visualize the cohort
# Import seaborn package as sns
#import seaborn as sns

## Initialize an 8 by 6 inches plot figure
#plt.figure(figsize=(8, 6))

## Add a title
#plt.title('Average Spend by Monthly Cohorts')

## Create the heatmap
#sns.heatmap(average_quantity, annot=True, cmap='Blues')
#plt.show()